---
layout: all
--- 

 <div id="topspacer"></div>
 <img class="imagerubrique" src="{{page.image}}">
 
<div class="title">
	<h1>{{page.categories}}</h1>
</div>

<div class="content-left red">
	 <div class="articles">

	{% assign categories_posts = site.posts | where: "categories", page.categories %} 
	{% for post in categories_posts %}
	
			<div class="rubrique">
				<img src="{{post.image}}" />
				<h2> ---- #{{post.categories}} ---- </h2> 
				<a class="rubriquelink" href="{{ post.url }}">{{post.title}}</a>
			</div>
	{% endfor %}

	</div>
</div>