@font-face 
{
  font-family: "logo";
  src: url("fonts/gomarice_usuazi_hosomozi.ttf");
}
@font-face 
{
  font-family: "content";
  src: url("fonts/HelveticaThin.woff");
}

@font-face
{
	font-family: 'Oxygen', sans-serif;
	src: url("fonts/Oxygen-Regular.ttf");
}

html, body
{
	margin: 0;
}

/*
	*******HEADER*******
 */
 /*Style*/
header
{
	background: rgba(255,255,255,0.9);
	padding: 15px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

footer
{
	font-family: "Oxygen";
	font-size: 0.75rem;
	color: white;
	background-color: rgb(99, 99, 99);
	padding-bottom: 0.1px;
	padding-top: 0.1px;
	text-align: left;
	padding-left: 150px;
	margin-top: 50px;
}

/*style links*/
nav>a
{
	font-family: logo;
	font-size: 1.5rem;
	color: rgb(161, 161, 161);
	text-decoration: none;
	padding-right: 35px;
	padding-left:35px;
}
/*style navigation*/
nav
{
	text-align: center;
}
/*logo*/
#logo
{
	margin-top: 50px;
	padding-bottom: 25px;
}

#logo img 
{
	width: 45%;
	margin: 0 auto;
	display: block;
}

/*landscape*/
.landscape
{
	background-image: url(/assets/img/landscape.gif);
	height: 494px;
	background-size: cover;
	background-position: center bottom;
	margin-top: 65px;
}

/*
	*******CONTENT*******
 */
.title
{	
	font-family: logo;
}

.content

{
	margin-left: 150px;
	margin-right: 200px;
}

.author>img
{
	width: 200px;
}

/*
	*******SIDEBAR*******
 */
 /*Style*/
.sidebar
{
	font-family: "Oxygen";
	background-color: rgb(161, 161, 161);
	z-index: 5;
	position: fixed;
	top: 0;
	right: -250px;
	bottom: 0;
	padding-left: 50px;
	padding-right: 85px;
	padding-top: 120px;
}
/*Style closed*/
.sidebar-closed {
	right: 0px;
    animation: slideout 0.5s forwards;	
}
/*style opened*/
.sidebar-open {
	animation: slidein 0.5s forwards;
	display: block;
	right: -250px;
}
/*animations*/
@keyframes slideout {
    100% { right: -250px; }
}

@keyframes slidein {
    100% { right: 0px; }
}
/*style links*/
.sidebar>a
{
	text-decoration: none;
	font-size: 1rem;
	padding-bottom: 20px;
	display: block;
	color: white;
}
/*buttons*/
.sidebar-btn
{
	position: fixed;
	top: 11px;
	right: 30px;
	color: rgb(255,54,0);
	z-index: 6;
	font-size :1.7rem;
}

.hidden
{
	display: none !important;
}

/*
	******ARTICLES*******
 */


.content-left h2
{
	text-align: center;
	font-family: "Oxygen";
	font-size: 1rem;
	color: rgb(255,54,0);
	font-weight: inherit;
}

.red 
{
	color: rgb(255,54,0);
}

.articles img
{
	width: 100%;
	max-width: 300px;
	max-height: 200px;
}


.now
{
	justify-content: flex-end;
	display: inline-block;
	vertical-align: top;
}

.now h2
{
	font-family: logo;
	font-size: 1.5rem;
	color:rgb(255,54,0);
}

.now p
{
	font-family: "Oxygen";
	font-size: 1rem;
}

.article-tittle
{
	font-family: logo;
	font-size: 1.5rem;
	color:rgb(255,54,0);
	font-weight: lighter;
}

.article
{
	font-family: "Oxygen";
	font-size: 1.1rem;
	color:rgb(99, 99, 99);
	text-align: justify;
	margin-right: 100px;
	text-align: justify !important;
}

.articlelist
{
	margin-left: 100px;
	margin-top: 60px;
}

.rubrique
{
	margin-bottom: 40px;
	font-family: logo;
	width: 100%;
	max-width: 100%;
}

.imgcoding
{
	margin-top: 300px;
	width: 100%;
}

.imgcoding >img
{
	width: 100%;
}

.article-content
{
	width: 85%;
	display: inline-block;
	margin-bottom: 50px;
}

.article-content p
{
	margin-left: 50px;
	text-align: justify !important;
	font-family: "Oxygen";
}

.morale
{
	color:rgb(255,54,0);
}

a.article-tittle
{
   text-decoration: none;
}

a.rubriquelink
{
	text-decoration: none !important;
	margin-bottom: 10px;
	font-family: logo;
	display: flex;
	justify-content: flex-start;
	color: rgb(99, 99, 99);
	font-size: 1.8rem;
}

.space
{
	margin-top: 350px;
}

.links
{
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify !important;
	font-family: "Oxygen";
}

.strong 
{
	font-weight: lighter;
}

.imagerubrique
{
	width: 100%;
	margin-top: 65px;
}

.margin-listarticle
{
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 50px;
}

.margin-contentarticle
{
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 50px;
}

.date
{
	color:rgb(99, 99, 99);
	font-family: "Oxygen";
}

.imgabout
{
	max-width: 100%;
}

.textabout
{
	font-family: "Oxygen";
	font-size: 0.9rem;
	color:rgb(99, 99, 99);
	text-align: justify;
}

.textabout a
{
	text-decoration: none !important;
}

.textabout strong
{
	font-weight: normal !important;
	color:rgb(255,54,0);
}

.habout
{
	font-weight: normal;
}

.habout
{
	font-family: "Oxygen";
	font-size: 1.25rem;
}

.sectionabout
{
	margin-top: 30px;
}

.previous_post
{
	font-family: "Oxygen";
	color:rgb(99, 99, 99);
	font-size: 0.85rem;
	text-align: right;
	display: block;
}

.newer_post
{
	font-family: "Oxygen";
	color:rgb(99, 99, 99);
	font-size: 0.85rem;
	text-align: left;
	display: block;
}

.img404
{
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex;
}

.div404
{
	background-color: black;
	width: 100%;
	height: 100%;
}

.videoarticle
{
	margin-left: 50px;
}

.categorylink
{
	text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 800px) 
{
	nav {display:none;}

	.margin-listarticle
	{
		margin-top: 50px;
		margin-left: 20px;
		margin-right: 50px;
	}

	.margin-contentarticle
	{
		margin-top: 50px;
		margin-left: 20px;
		margin-right: 50px;
	}

	header
	{
		padding: 0px;
		padding-top: 25px;
	}

	.landscape
	{
		height: 300px;
	}

	.now
	{
		display: none;
	}

	#logo img
	{
		width: 70%;
	}

	footer
	{
		padding-left: 50px;
	}

	html
	{
		font-size: 85%;
	}
}

@media screen and (min-width: 0px) and (max-width: 500px)
{
	#logo
	{
		margin-bottom: 0;
		margin-top: 0;
	}

	.margin-contentarticle img
	{
		max-width: 100%;
	}

	.margin-contentarticle
	{
		margin-top: 5px;
		margin-left: 5px;
		margin-right: 5px;
	}

	div.title
	{
		margin-left: 12px;
		margin-top: 35px;
	}

	div.date
	{
		margin-left: 12px;
	}

	div#logo
	{
		margin-top: 60px;
	}

	#logo img
	{
		width: 75%;
	}

	.articles img
	{
		width: auto;
    	max-height: 150px;
    	margin: 0 auto;
    	display: inherit;
	}

	.rubrique
	{
		width: 100%;
	}

	.imagerubrique
	{
		margin-top: 21.5px;
	}

	.landscape
	{
		margin-top: 25px;
	}
/*
	*******SIDEBAR*******
 */
	.sidebar
	{
		padding-left: 20px;
		padding-right: 40px;
		padding-top: 80px;
	}

	.sidebar-btn
	{
		right: 15px;
	}
}
