<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="description" content="No-lifestyle, c’est le blog lifestyle des nolifes, des geeks, des otakus, bref de nous créatures de l’ombre. Bienvenue dans un monde qui n’appartient qu’à nous.">
	<title>{{ site.title }} | {{page.categories}} {{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
	<link rel="icon" href="/assets/img/favicon.ico" />
	<link rel="icon" type="image/png" href="/assets/img/favicon.png" />
</head>

<div class="div404">
<a href="{{site.url}}"><img class="img404" src="/assets/img/404.gif"></a>
</div>