<!DOCTYPE html>
<html>


<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="description" content="NoLife.style, c’est le blog lifestyle des nolifes, des geeks, des otakus, bref de nous créatures de l’ombre. Bienvenue dans un monde qui n’appartient qu’à nous.">
	<title>{{ site.title }} | {{page.categories}} | {{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
	<link rel="icon" href="/assets/img/favicon.ico" />
	<link rel="icon" type="image/png" href="/assets/img/favicon.png" />
</head>

<body>

	<header id="navigation">
		<nav>
			<a href="/">Home</a>
			<a href="/randoming.html">Randoming</a>
			<a href="/gaming.html">Gaming</a>
			<a href="/coding.html">Coding</a>
			<a href="/connecting.html">Connecting</a>
			<a href="/otakuing.html">Otaku-ing</a>
		</nav>
	</header>

	<div class="sidebar">
		<div class="sidebar-btn">
			<i class="fas fa-times hidden" id="close-sidebar"></i>
			<i class="fas fa-hamburger" id="open-sidebar"></i>
		</div>
		<a href="/">Home</a>
		<a href="/about.html">About</a>
		<a href="/randoming.html">Randoming</a>
		<a href="/gaming.html">Gaming</a>
		<a href="/coding.html">Coding</a>
		<a href="/connecting">Connecting</a>
		<a href="/otakuing.html">Otaku-ing</a>
	</div>

	<div id="logo"><a href="/"> <img src="/assets/img/logo_blog.png" alt="Logo du blog nolife.style"/> </a></div>
	
	<!--<div id="topspacer"></div>-->

	{% if page.home %}
		<div class="landscape"></div>
	{% endif %}
	{% if page.image %}
		<img class="imagerubrique" src="{{page.image}}">
	{% endif %}

	<div class="margincol">
		<div class="row">
			<div class="col-md-9 col-xs-12">
				{{ content }}
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="now">
					<div class="games">
						<h2>Now playing at:</h2>
						<p>Final Fantasy VII</p>
					</div>
					<div class="music">
						<h2>Now listening:</h2>
						<p>Hardbass</p>
					</div>
					<div class="food">
						<h2>Now eating:</h2>
						<p>Clémentine</p>
					</div>
				</div>
			</div>
		</div>
	</div>
 
	<footer>
		<p>
			Oh yeah that's my site © Nolife.style 2019 | All rights reserved.
		</p> 
	</footer>

	<script type="text/javascript">
		var openBtn = document.getElementById("open-sidebar");
		var closeBtn = document.getElementById("close-sidebar");
		var sidebar = document.getElementsByClassName("sidebar")[0];

		function toggleSidebar() {
			openBtn.classList.toggle("hidden");
			closeBtn.classList.toggle("hidden");
			if (sidebar.classList.contains("sidebar-open")) {
				sidebar.classList.remove("sidebar-open");
				sidebar.classList.add("sidebar-closed");
			} else {
				sidebar.classList.add("sidebar-open");
				sidebar.classList.remove("sidebar-closed");
			}
		}

		function adjustHeaderHeight() {
			let logo = document.getElementById('logo');
			let domrect = logo.getBoundingClientRect();
			let logoHeight = domrect.y + domrect.height;

			if (domrect.bottom > 0)
				document.getElementById("navigation").style.top = `${logoHeight}px`;
			else
				document.getElementById("navigation").style.top = `0`;
		}
		
		closeBtn.addEventListener("click", function () {
			toggleSidebar();
		});
		openBtn.addEventListener("click", function () {
			toggleSidebar();
		});

		window.onload = function() {
			adjustHeaderHeight();
		}
		window.onresize = function() {
			adjustHeaderHeight();
		}
		window.onscroll = function() {
			adjustHeaderHeight();
		}
	</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137382473-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-137382473-1');
	</script>

</body>


</html>