---
layout: all
---
 
<div class="title">
	<h1>Derniers articles parus</h1>
</div>

<div class="content-left red">
	 <div class="articles">
	 	<div class="row">
	 		{% assign categories_posts = site.posts | slice: 0,6 %} 
			{% for post in paginator.posts %}
			<div class="col-md-6 col-xs-12 col-lg-4">
				<div class="rubrique">
					<a href="{{post.url}}"><img src="{{site.url}}{{post.home_image}}" alt="{{post.title}}"/></a>
					<a href="/{{post.categories}}" class="categorylink"><h2> ---- #{{post.categories}} ---- </h2></a>
					<a class="rubriquelink" href="{{ post.url }}">{{post.title}}</a>
					<div class="date">{{post.date | date: "%a, %b %d, %y"}}</div>
				</div>
			</div>
			{% endfor %}
	 	</div>
	 	<div class="row">
	 		<div class="col-md-6">
				{% if paginator.previous_page %}
				    <a class="newer_post" href="{{ paginator.previous_page_path }}">
				    	<i class="fas fa-angle-left"></i> Newer posts
				    </a>
				{% endif %}
			 </div>
			 
			<div class="col-md-6">
				{% if paginator.next_page %}
					<a  class="previous_post" href="{{ paginator.next_page_path }}">Previous posts 
						<i class="fas fa-angle-right"></i>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>